@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 0.2px solid red; */
}
.nav-link {
  @apply even:border-x border-gray-theme h-full flex items-center px-7 hover:text-white hover:bg-gray-theme/50;
}
.nav-link-contact {
  @apply border-l border-gray-theme h-full flex items-center px-7 hover:text-white hover:bg-gray-theme/50;
}

.active {
  color: white;
  border-bottom: 2px solid #fea55f;
}

#mobile-page-title {
  @apply lg:hidden flex text-sm min-h-[70px] text-white px-[25px] items-center;
}
#social-icons > a {
  @apply py-2 px-4 odd:border-x opacity-50 border-gray-theme hover:bg-gray-theme hover:opacity-100;
}

.page-menu {
  @apply w-full lg:min-w-[275px] lg:max-w-[275px] min-[1920px]:max-w-[310px] min-[1920px]:min-w-[310px] min-[1920px]:text-base text-sm;
}
.arrow {
  @apply transition mr-[10px] w-2 h-2;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(190, 190, 190);
  transition: background-color 5000s ease-in-out 0s;
  border: 2px solid #607b96;
}

input:focus,
textarea:focus {
  outline: none;
  transition: none;
  border: 2px solid #607b96;
  box-shadow: #607b9669 0px 0px 0px 2px;
}

input[type='checkbox'] {
  appearance: none;
  background-color: transparent;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-radius: 0.15em;
  margin-top: 1px;
}

input[type='checkbox']:checked {
  background-color: currentColor;
  background-image: url("data:image/svg+xml;utf8,<svg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.38587 7.2802L11.9718 0.693573L12.9856 1.70668L5.38587 9.30641L0.826172 4.74671L1.83928 3.73361L5.38587 7.2802Z' fill='white'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

input[type='checkbox']:checked:hover {
  box-shadow: #607b968b 0px 0px 0px 2px;
}

input[type='checkbox']:not(:checked) {
  border-color: currentColor;
}

input[type='checkbox']:hover {
  cursor: pointer;
  background-color: currentColor;
  background-image: url("data:image/svg+xml;utf8,<svg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.38587 7.2802L11.9718 0.693573L12.9856 1.70668L5.38587 9.30641L0.826172 4.74671L1.83928 3.73361L5.38587 7.2802Z' fill='white'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: #607b968b 0px 0px 0px 2px;
}

input[type='checkbox']:hover:not(:checked) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: none;
  box-shadow: #607b968b 0px 0px 0px 2px;
}

input[type='checkbox']:focus {
  box-shadow: none;
}
.css-blurry-gradient-blue {
  position: fixed;
  bottom: 25%;
  right: 5%;
  width: 300px;
  height: 300px;
  border-radius: 0% 0% 50% 50%;
  rotate: 10deg;
  filter: blur(70px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(77, 91, 206, 1),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.5;
  z-index: 10;
}

.css-blurry-gradient-green {
  position: absolute;
  top: 20%;
  right: 30%;
  width: 300px;
  height: 300px;
  border-radius: 0% 50% 0% 50%;
  filter: blur(70px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(67, 217, 173, 1),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.5;
  z-index: 10;
}

@media (min-width: 1024px) {
  .css-blurry-gradient-blue {
    position: fixed;
    bottom: 10%;
    right: 10%;
    width: 500px;
    height: 500px;
    opacity: 0.7;
    border-radius: 100% 50% 100% 0%;
  }

  .css-blurry-gradient-green {
    position: fixed;
    top: 10%;
    right: 35%;
    filter: blur(100px);
    rotate: 10deg;
    width: 400px;
    height: 400px;
    opacity: 0.5;
    border-radius: 100% 0% 0% 0%;
    rotate: 20deg;
  }
}

#console {
  background: linear-gradient(
    to bottom,
    rgba(35, 123, 109, 1),
    rgba(67, 217, 173, 0.13)
  );
}
/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 20px;
  border-left: 1px solid #1e2d3d;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #607b96;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7b9bbb;
}

/* Fonts */

@font-face {
  font-family: 'Fira Code Light';
  src: url('../assets/fonts/fira-code/FiraCode-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code Regular';
  src: url('../assets/fonts/fira-code/FiraCode-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code Retina';
  src: url('../assets/fonts/fira-code/FiraCode-Retina.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code Medium';
  src: url('../assets/fonts/fira-code/FiraCode-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code SemiBold';
  src: url('../assets/fonts/fira-code/FiraCode-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code Bold';
  src: url('../assets/fonts/fira-code/FiraCode-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Code Variable';
  src: url('../assets/fonts/fira-code/FiraCode-Variable.ttf') format('truetype');
}
